<ion-header>
  <ion-toolbar>
    <ion-title>
      Jeu de mémoire
    </ion-title>

    <ion-chip slot="end">
      {{foundPairs}}
    </ion-chip>

    <ion-button slot="start" routerLink="/settings">
    <ion-icon name="cog"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col [size]="cardColumnSize" *ngFor="let card of cardDeck">
      <ion-img  
      src="/assets/{{card.revealed? 'cards/' + card.image:'question-mark.png'}}"
      class= "card" (click)="pickCard(card)"></ion-img>
      
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button expand="block" *ngIf="foundPairs == numberOfCards" (click)="playAgain()"> Rejouer</ion-button>

  </ion-toolbar>


</ion-footer>
