<ion-header>
  <ion-toolbar>
    <ion-title>settings</ion-title>
    <ion-back-button slot="start"></ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item>



      <ion-label position="stacked">Nombre de pairs </ion-label>
      <ion-range max="8" min="2"[(ngModel)]="settingsService.settings.numberOfCards">


        <ion-icon name="bookmarks" mode="md" slot="start"></ion-icon>
        <ion-icon name="bookmarks" mode="md" slot="end"></ion-icon>
        <ion-chip slot="end">{{settingsService.settings.numberOfCards}}</ion-chip>
      </ion-range>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">
        Délai d'affichage
      </ion-label>
      <ion-range max="3000" min="250" [(ngModel)]="settingsService.settings.delay">
        <ion-icon name="time" mode="md" slot="start" ></ion-icon>
        <ion-icon name="time" mode="md" slot="end"></ion-icon>
        <ion-chip slot="end">{{(settingsService.settings.delay / 1000).toFixed(2)}}</ion-chip>
      </ion-range>
    </ion-item>

    <ion-radio-group [(ngModel)]="settingsService.settings.colNumbers">
      <ion-list-header>
        Nombre de colonnes
      </ion-list-header>
      <ion-item>
        <ion-radio  value="2" slot="start"> </ion-radio>
        <ion-label>2 colonnes</ion-label>
      </ion-item>
      <ion-item>
        <ion-radio value="3" slot="start"> </ion-radio>
        <ion-label>3 colonnes</ion-label>
      </ion-item>
      <ion-item>
        <ion-radio value="4"slot="start"> </ion-radio>
        <ion-label>4 colonnes</ion-label>
      </ion-item>
    </ion-radio-group>
  </ion-list>
</ion-content>